.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px 2px 5px;
  font-size: 1.7rem;
  border-radius: 4px;
  background-color: #fff !important;
  text-decoration: none;
  user-select: none;
  margin-left: 8px;

  color: var(--text-color);

  + .wrapper {
    margin-left: 10px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}
.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
  padding: 5px;
}

//button types
.primary {
  background-color: var(--primary);
  background-color: #f37737 !important;
  color: #fff;
}

//disabled button

//button size
