.signup_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.signup_modal_content {
  background-color: white;
  position: relative;
  width: 398px;
  height: 820px;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  z-index: 10;
  padding: 5px;
  transition: color 0.3s ease;

  &:hover {
    color: #333;
  }
}
