.container {
  margin-top: 0.5rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
}

.meter {
  display: flex;
  gap: 0.25rem;
}

.bar {
  height: 0.25rem;
  width: 25%;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.bg-red {
  background-color: #f87171;
}

.bg-yellow {
  background-color: #fbbf24;
}

.bg-green {
  background-color: #4ade80;
}

.bg-gray {
  background-color: #4b5563;
}

.criteria {
  margin-top: 0.5rem;

  .flex {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0.25rem;

    &.met {
      color: #4ade80;
      .icon {
        font-size: 1.4rem;
      }
    }

    &.notMet {
      color: #9ca3af;
      .icon {
        font-size: 1.4rem;
      }
    }

    .icon {
      margin-right: 0.8rem;
      width: 16px;
      text-align: center;
    }
  }
}
