.wrapper {
  height: auto;
  box-shadow: 0 0 10px rgb(0 0 0 / 84%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-top-area {
  height: 56px;
  width: 1280px;
  background-color: #22272b;
}

.container-header-top {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-top-social,
.header-top-menu {
  width: 47%;
  color: white;
  margin-top: 10px;
}

.header-top-social {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  color: var(--text-color);
}
.header-top-social .svg-inline--fa {
  font-size: 20px; /* Kích thước của icon */
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
// .actions Button {
//   background-color: #e97242;
// }
// .actions Button:hover {
//   background-color: #d95c1c;
// }
///////////////////////////////////////////////////////////////////////////
// css main header
.main-header-area {
  width: 1280px;
  height: 82px;
  background-color: white;
}
.container-main-header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 95% !important;
}
.row-header-main {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.site-logo {
  margin: 5px 0;
  position: relative;
  z-index: 9999;
}
.site-logo img {
  max-width: 180px;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      padding-left: 200px;
    }

    li {
      margin: 0 15px; // Tạo khoảng cách đều giữa các mục menu
      a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        padding: 10px 0;
        &:hover {
          color: #007bff; // Màu khi hover
        }
      }
    }
  }
}

//// Actions
.actions {
  display: flex;
  align-items: center;
}
.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
}

.more-btn {
  font-size: 2rem;
  margin-left: 24px;
  padding: 4px 8px;
  background: transparent;
}
.dropdown-menu {
  width: 224px;
}
