.wrapper {
  height: auto;
  box-shadow: 0 0 10px rgb(0 0 0 / 84%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-top-area {
  height: 56px;
  width: 1280px;
}
.container-header-top {
  display: flex;
  width: 100%;
}

.header-top-social,
.header-top-menu {
  width: 50%;
}

.header-top-social {
  display: flex;
  justify-content: flex-start; /* Căn về bên trái */
}

.header-top-menu {
  display: flex;
  justify-content: flex-end; /* Căn về bên phải */
}
// css main header
.main-header-area {
  width: 1280px;
  height: 82px;
  background-color: white;
}
.container-main-header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 95% !important;
}
.row-header-main {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.site-logo {
  margin: 5px 0;
  position: relative;
  z-index: 9999;
}
.site-logo img {
  max-width: 180px;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      padding-left: 200px;
    }

    li {
      margin: 0 15px; // Tạo khoảng cách đều giữa các mục menu
      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        padding: 10px 0;
        &:hover {
          color: #007bff; // Màu khi hover
        }
      }
    }
  }
}
