@import "normalize.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,bold,100,200,300,400,500,600,700,800");

:root {
  --primary: #e97242;
  --black: #000;
  --text-color: #333;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);

  background-image: url("https://starlight.vn/Content/img/bgs6.jpg");
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}
