.adminHomePage {
    padding: 20px;
    color: #ffffff; // Thêm màu chữ trắng cho toàn bộ component

    h2 {
        margin-bottom: 20px;
    }

    .searchForm,
    .createUserForm {
        margin-bottom: 20px;

        input {
            margin-right: 10px;
            padding: 5px;
            background-color: #333; // Nền tối cho input
            color: #ffffff; // Chữ trắng cho input
            border: 1px solid #555;
        }

        button {
            padding: 5px 10px;
            background-color: #4CAF50; // Màu nền xanh lá cho button
            color: white;
            border: none;
            cursor: pointer;
        }
    }

    .userList {
        list-style-type: none;
        padding: 0;

        .userItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #333; // Nền tối cho mỗi item
            color: #ffffff; // Chữ trắng cho mỗi item
            border-radius: 5px;

            button {
                margin-left: 10px;
                padding: 5px 10px;
                background-color: #008CBA; // Màu nền xanh dương cho button
                color: white;
                border: none;
                cursor: pointer;
            }

            button:last-child {
                background-color: #f44336; // Màu nền đỏ cho nút Delete
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .logoutButton {
        padding: 5px 10px;
        background-color: #f44336;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            background-color: #d32f2f;
        }
    }
}